.tab_options{
    box-shadow: var(--border-white) 0px -0.5px 0px inset;
}

.options_wrapper{
    display:flex;
}

.tab_item{
    margin-right: 25px;
    padding: 12px 12px 20px 12px;
}

.tab_name{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    color: var(--inactive_text)
}

.tab_image_container{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--inactive_color);
}

.tab_image{
    height: 30px;
    width: 30px;
}
.active_tab{
    border-bottom: 2px solid var(--active-text);
}

.active_tab .tab_name{
    color: var(--active-text);
}