.header{
    width: 100%;
    display : flex;
    align-items: center;
    margin-bottom: 12px;
}

.header-logo{
    height:27px;
    max-width: 140px;
    margin-right:24px;
}

.header_right{
    display:flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.location_search_bar{
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: var(--primary-box-shadow);
    border: 1px solid var(--border-white);
    width: 70%;
    background-color: var(--primary-bg);
}

.location_wrapper{
    display:flex;
    flex: 1;
    justify-content: space-between;
    padding: 0px 10px;

}

.location_icon_name{
    display: flex;
    color: var(--zomato-grey);

}

.location_icon{
    color:var(--zomato-red);
    font-size: 20px;
    margin-right: 10px;
    
}

.location_search_seperator{
    height: 20px;
    border:0.05rem solid var(--zomato-seperator);
}

.header_search_bar{
    display: flex;
    flex: 2;
}

.search_icon{
    font-size:20px;
    color: var(--zomato-grey);
    margin: 0px 12px;
}

.search_input{
    border:none;
    outline: none;
    width: 70%;
    font-size:14px;
}

.profile_wrapper{
   display:flex;
   justify-content: space-between;
   width: 15%;
   align-items: center;
   
}

.profile_image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.header_username{
    font-size:16px;
    font-weight: 580;
    
}

.profile_icon{
    font-size: 20px;
}

