.collection_wrapper{
    background-color: var(--inactive_color);

}

.collection{
    padding: 15px 0px 40px;
}

.collection_subtitle_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.collection_subtitle_text{
    color: var(--subtitle-text);
    font-size: 18px;
}

.collection_location{
    color: var(--zomato-red);
    display: flex;
}

.collection_cover{
    height:300px;
    width: 230px;
    margin-right: 20px;
    border-radius: 8px;
    position: relative;
}

.gradient_bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--gradient-bg);
    top: 0;
    left: 0;
    border-radius: 8px;
}

.collection_image{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit:cover;
}

.collection_card_title{
    position: absolute;
    left: 16px;
    bottom: 30px;
    font-size:18px;
    color: var(--primary-bg);
}

.collection_card_subtitle{
    display:flex;
    color: var(--primary-bg);
    position: absolute;
    left: 16px;
    bottom: 10px;
    font-size: 14px;
}